/* головний колір тексту #212121 */
/* додатковий колір тексту rgba(117, 117, 117, 1) */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* колір фону на деяких секціях #F5F4FA */
/* колір фону в герой та футер #2F303A */

:root {
    --primary-text-color: #212121;
    --title-text-color: rgba(117, 117, 117, 1);
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --hero-footer-color: #2F303A;
    --section-color: #F5F4FA;
} 

body {
    background-color: var(--primary-background-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.28px;
}

/* header */
/* logo */
.logo{
    text-decoration: none;
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.78px;
}

.logo.footer-logo {
    color: var(--primary-background-color);
}

.logo > .title {
    color: var(--accent-color);
}

/* primary settings list */
.list {
    list-style: none;
}

/* site-nav */
.site-nav .link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color)
}

/* site-contact */

.site-contact .link{
    color: var(--title-text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
}

.site-contact .link:hover,
.site-contact .link:focus{
    color: var(--accent-color);
}
/* end header */

/* hero */
.hero {
 background-color: var(--hero-footer-color);
}

.hero-title {
    color: var(--primary-background-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36; 
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.hero-button {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
    /* потім прибрати */
    margin: 0 auto;             
    display: block;
    /* сюда */
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
    cursor: pointer;
}

/* advantages */

.advantages .title {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.advantages .text {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.7; 
    letter-spacing: 0.42px;
} 

/* work */

.work > .title {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.08px;
}

.work-image {
    width: 370px;
    height: 294px;
}


/* our team */

.team-image {
    width: 270px;
    height: 260px;
}
.team-title {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.08px
}

.team-name{
    color: var(--primary-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;
}
.team-text {
    color: var(--title-text-color);
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.48px;

}

/* footer */
/* address */

footer {
    background-color: var(--hero-footer-color);
}

.address-text {
    color: var(--primary-background-color);
    font-size: 14px;
    line-height: 1.7; 
    letter-spacing: 0.42px;
}

/* параметри щоб зробити ефект поточної сторінки */
/* для посиланання в site-nav додаємо 2 класа link і current  */
/* <ul class="site-nav list">
    <li><a href="./index.html" class="link сurrent">Студія</a></li>
    <li><a href="./portfolio.html" class="link">Портфоліо</a></li>
    <li><a href="" class="link">Контакти</a></li>
</ul> */
/* тоді в стилях додаємо  */

/* .site-nav .link.current {
    сolor : колір для поточної сторінки
} */

/* portfolio */

/* examples*/

.nav-list > li {
    list-style: none;
}
.nav-button {
    color: var(--primary-text-color);
    background-color: var(--section-color);
    font-family: Roboto;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63; 
    letter-spacing: 0.48px;
    cursor: pointer;
}

.nav-button:focus,
.nav-button:hover{
    color: var(--primary-background-color);
    background-color: var(--accent-color);
}

.examples-list {
    list-style: none;
}

.examples-link {
    text-decoration: none;
}

.example-image {
    width: 370px;
    height: 294px;
}

.example-title {
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2; 
    letter-spacing: 1.08px;
}

.example-text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.88; 
    letter-spacing: 0.48px;
}

